@media (max-width: 1200px){
    body{
        font-size: 1vw;
    }
}
@media (max-width: 992px){
    body{
        font-size: 1.2vw;
    }
}
@media (max-width: 880px){
    .aboutus__list{
        flex-direction: column;
        align-items: center;
    }
    .aboutus__item{
        width: 80%;
        margin-bottom: 16px;
    }
}
@media (max-width: 820px){
    .header__elements{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .header__info{
        text-align: center;
    }
    .header__info ul{
        text-align: left;
        display: inline-block;
    }
    .header__info a{
        display: block;
        width: 80%;
        margin: 0 auto ;
    }
}
@media (max-width: 768px){
    body{
        font-size: 1.8vw;
    }
    .hamburger{
        display: block;
    }
    .nav__links{
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        flex-direction: column;
        background: #484746;
        max-width: 100vw;
        top: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 100px 50px 50px 10vw;
        min-width: 0;
        right: -100vw;
        transition: 0.5s;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        background-position: center bottom 150px;
        background-size: 50%;
        min-height: 560px;
        overflow: scroll;
        z-index: -1;
        text-align: right;
        gap: 20px;
    }
    .nav__links_active{
        right: 0;
        transition-delay: 0s;
    }
    .nav__links a{
        color: #f5f5f5;
        font-weight: bold;
        margin: 10px 0;
        font-size: 3.2em;
        position: relative;
        right: -100vw;
        transition-timing-function: ease-out;
        border-bottom: #f5f5f5 2px solid;
        padding:0 0 1px 0;
    }
    .nav__links a:focus, .nav__links a:hover{
        color: #f5f5f5;
        transition-delay: 0s;
    }
    .nav__links_active a{
        right: 0;
        transition: 0.5s;
    }
    .nav__links a:nth-child(1){
        transition-delay: 1s;
    }
    .nav__links a:nth-child(2){
        transition-delay: 0.9s;
    }
    .nav__links a:nth-child(3){
        transition-delay: 0.8s;
    }
    .nav__links a:nth-child(4){
        transition-delay: 0.7s;
    }
    .nav__links a:nth-child(5){
        transition-delay: 0.6s;
    }
    .nav__links_active a:nth-child(1){
        transition-delay: 0.1s;
    }
    .nav__links_active a:nth-child(2){
        transition-delay: 0.3s;
    }
    .nav__links_active a:nth-child(3){
        transition-delay: 0.5s;
    }
    .nav__links_active a:nth-child(4){
        transition-delay: 0.7s;
    }
    .nav__links_active a:nth-child(5){
        transition-delay: 0.9s;
    }
    .header__foto{
        width: 100%;
        margin: 16px 0 0 0 ;
    }
    .header__foto__swiper{
        width: 100%;
        margin-bottom: 32px;
    }
    .services__item{
        width: 100%;
    }
    .services__elements{
        flex-direction: column;
    }
}
@media (max-width: 550px){
    body{
        font-size: 1.9vw;
    }
    .nav__contact a, .footer__contact a{
        font-size: 4em;
    }
    .nav__elements .nav__logo, .footer__logo{
        font-size: 4.5em;
    }
    .services{ 
        background-attachment: scroll;
        background-size: cover;
        background-position: left 22% top;
    }
    .services__item{
        background: rgba(245, 245, 245, 0.847);
    }
}
@media (max-width: 450px){
    body{
        font-size: 2vw;
    }
    .header__info a{
        width: 100%;
    }
}
@media (max-width: 375px){
    body{
        font-size: 2.1vw;
    }
}
@media (min-height: 1180px){
    header{
        height: auto;
        min-height: 0;
    }
}